$green: #6CAC3D;
$blue: #2D4872;
$gray: #C4C4C4;
$black: #171616;
$blue-bright: #2D4872;
$white: #F2F2F2;

%roboto-300{
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500{
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}