$green: #6CAC3D;
$blue: #2D4872;
$gray: #C4C4C4;
$black: #171616;
$blue-bright: #2D4872;
$white: #F2F2F2;

%roboto-300{
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500{
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%roboto-900{
  font-family: 'Roboto-Black', sans-serif;
  font-weight: 900;
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%title{
  @extend %roboto-700;
  font-size: 42px;
  line-height: 49px;
  display: flex;
}